synapsepoc/pipeline/EnrichData.json
{
	"name": "EnrichData",
	"properties": {
		"activities": [
			{
				"name": "GetFolderNames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "RawTipData",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFolderNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFolderNames').output.itemName",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "EnrichDataPipeline_copy1",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "EnrichData",
									"type": "NotebookReference"
								},
								"parameters": {
									"tableName": {
										"value": {
											"value": "@activity('GetFolderNames').output.itemName",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "ws1sparkpool1",
									"type": "BigDataPoolReference"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}